{% extends "base.html" %}

{% block head_title %}{{ instance.title }}| {{ block.super }} {% endblock %}

{% block content %}

{#        <div class="col-sm-6 col-sm-offset-3 text-center " >#}
            <div class="col-sm-4 col-sm-offset-4 " style="padding-top: 50px;">
            {% if instance.image %}
                <img src="{{ instance.image.url }}" class="img-responsive" alt="">
            {% endif%}
            </div>
            <div class="col-sm-6 col-sm-offset-3 text-center">
            <h1>{{ title }}</h1>
            <h3>{{ instance.artist }}</h3>
            {{ instance.release }}
            </div>
{#        </div>#}


{% endblock content %}