<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles.css">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="container">
      <div class="logo">
        <a href="">Website</a></div>
      <nav>
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="showcase">
    <div class="container">
      <h1>Subheading</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, reprehenderit.</p>
    </div>
  </section>

<section class="boxes">
  <div class="box1">
    <h1>Heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, aliquid?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui voluptatem est, placeat sunt ad, perspiciatis quisquam et quas deserunt asperiores, omnis amet ipsum, perferendis officiis. Consectetur doloremque obcaecati sed saepe quas quis dolores magni et, nobis temporibus, error quaerat blanditiis!</p>
  </div>

  <div class="box2">
    <h1>Heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, aliquid?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui voluptatem est, placeat sunt ad, perspiciatis quisquam et quas deserunt asperiores, omnis amet ipsum, perferendis officiis. Consectetur doloremque obcaecati sed saepe quas quis dolores magni et, nobis temporibus, error quaerat blanditiis!</p>
</div>

  <div class="box3">
    <h1>Heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, aliquid?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui voluptatem est, placeat sunt ad, perspiciatis quisquam et quas deserunt asperiores, omnis amet ipsum, perferendis officiis. Consectetur doloremque obcaecati sed saepe quas quis dolores magni et, nobis temporibus, error quaerat blanditiis!</p>
</div>

</section>

  <section class="move">
    <div class="inner">
      <h1>Subheading</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, reprehenderit.</p>
    </div>
  </section>
</body>
</html>
